@model Financial.Web.Models.BudgetVM

@{
    ViewBag.Title = Model.Title;
}

<div>
    <h4>@Model.Title</h4>
    <hr />
    @if (Model.Categories == null)
    {
        <p>I'm sorry, there aren't any categories to display yet.</p>
    }
    else
    {
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Balance</th>
                    <th>Limit</th>
                    <th># Of Transactions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>@Html.ActionLink(category.Title, "Details", "Categories", new { id = category.Id }, null)</td>
                        <td>@category.Description</td>
                        <td>@String.Format("{0:C}", category.Balance)</td>
                        <td>@String.Format("{0:C}", category.Limit)</td>
                        <td>@category.Transactions.Count()</td>
                        <td>@Html.ActionLink("Edit", "Edit", "Categories", new { id = category.Id }, null) | @Html.ActionLink("Delete", "Delete", "Categories", new { id = category.Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
</div>
<p>
    @*@Html.EditorFor(x => x.User)*@
    @Html.ActionLink("Create a category", "Create", "Categories", new { categoryId = Model.Id }, new { @class = "btn btn-default" })
    <br/>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    <br/>
    
    @*@Html.ActionLink("Share with a user", "ShareBudget", "Home", new { userName = Model.User, budgetId = Model.Id }, null)*@
</p>

@*@section scripts {
    <script>
        $.ajax({
            type: "POST",
            url: $("@Url.Action("ShareBudget", "Home")").attr("href"),
            data: $("#user", "@Model.Id").serialize(), 
            success: function (data) {
                alert(data);
            }
        });
    </script>
    }*@