@model IEnumerable<Financial.Web.Models.Category>

@{
    ViewBag.Title.ToString();
}

<div class="jumbotron">
    <h1>Welcome @User.Identity.Name!</h1>
    <p class="lead">Feel free to browse your categories, or go ahead and add some transactions below.</p>
    <a class="btn btn-primary" href="@Url.Action("Create", "Transactions")">Add a transaction</a>
    <a class="btn btn-primary" href="@Url.Action("Create", "Home")">Add a transaction</a>
</div>

<div class="row">
    <div>
        <table class="table">
            <tr>
                <td>
                    Category
                </td>
                <td>
                    Available
                </td>
                <td>
                    Limit
                </td>
            </tr>
            @foreach (Financial.Web.Models.Category category in Model ) {
            <tr>
                <td>
                    @Html.ActionLink(category.Title , "Budget", new { id = category.Id })
                    <hr />
                    @category.Description
                </td>
                <td>
                    @category.Remainder.ToString()
                </td>
                <td>
                    @category.Limit.ToString()
                </td>
            </tr>
            }
        </table>
    </div>
    </div>
