@model Financial.Web.Models.Category

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>@Model.Title</h4>
    <hr />
    @if (Model.Transactions == null)
    {
        <p>I'm sorry, there aren't any transactions to display yet.</p>
    }
    else
    {
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Added On</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in Model.Transactions)
                {
                    <tr>
                        <td>@transaction.Title</td>
                        <td>@transaction.Description</td>
                        <td>@transaction.FormatedAmount</td>
                        <td>@transaction.CreatedOn</td>
                        <td>@Html.ActionLink("Edit", "Edit", "Transactions", new { id = transaction.Id }, null) | @Html.ActionLink("Delete", "Delete", "Transactions", new { id = transaction.Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to budgets", "StartPage", "Home") |
    @Html.ActionLink("Add a transaction", "Create", "Transactions", new { categoryId = Model.Id }, null)
</p>
 